.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px,1fr));
  column-gap: 17px;
  row-gap: 20px;
  max-width: 880px;
  margin: 51px 200px 0;
}

@media screen and (max-width: 1040px ) {
  .cards {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media screen and (max-width: 780px ) {
  .cards {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media screen and (max-width: 650px ) {
  .cards {
    margin: 36px 0 0;
  }
}

@media screen and (max-width: 580px ) {
.cards {
  margin: 36px 19px 0;
  place-items: center;
}
}
