.profile__heading {
  display: flex;
}

@media screen and (max-width: 580px ) {
  .profile__heading {
    justify-content: space-between;
    margin: 26px 0 0;
    min-width: 200px
  }
}

@media screen and (max-width: 320px ) {
  .profile__heading {
    justify-content: space-between;
    margin: 26px 0 0 46px;
    min-width: 236px
  }
}
