.popup__submit-button {
  margin-top: 48px;
  background-color: #000;
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: center;
  width: 100%;
  padding: 14px;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.popup__submit-button:hover {
  opacity: .8;
}

@media screen and (max-width: 580px ) {
  .popup__submit-button {
    max-width: 238px;
    margin-top: 45px;
    font-size: 14px;
    line-height: 17px;
  }
}
