.popup__submit-button {
  margin-top: 48px;
  background-image: url(../../../images/submit-button.svg);
  background-color: #000;
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: center;
  width: 100%;
  padding: 23px;
  cursor: pointer;
  border: 0;
}

.popup__submit-button:hover {
  opacity: .8;
}

@media screen and (max-width: 580px ) {
  .popup__submit-button {
    max-width: 238px;
  }
}
