.profile__add-button {
  border: 2px solid #FFFFFF;
  padding: 23px 73px;
  width: 150px;
  height: 50px;
  margin: 35px 0 35px;
  background-image: url(../../../images/add-button.svg);
  background-color: #000;
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: center;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: .6;
}


@media screen and (max-width: 580px) {
  .profile__add-button {
    max-width: 282px;
    padding: 17px 138px;
    background-size: 16px 16px;
  }
}


@media screen and (max-width: 320px) {
  .profile__add-button {
    max-width: 282px;
    padding: 17px 138px;
    margin: 36px 0;
  }
}
