.profile__info {
  display: flex;
}

@media screen and (max-width: 580px ) {
  .profile__info {
    justify-content: space-around;
    width: 100%;
  }
}

@media screen and (max-width: 320px ) {
  .profile__info {

    display: block;
  }
}
