.footer {
  margin: 67px 0 60px 200px ;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}
@media screen and (max-width: 1024px ) {
  .footer {
    margin-left: 100px;
  }
}

@media screen and (max-width: 780px ) {
  .footer {
    margin-left: 25px;
  }
}

@media screen and (max-width: 425px ) {
  .footer {
    margin-left: 19px;
  }
}
